<div class="language">
    <h2 class="second-title">
        Please select<br>
        your language
    </h2>
    <ul class="language__list">
        <li class="language__item">
            English <img class="language__flag" src="img/Flags/great_britain.svg" alt="">
        </li>
        <li class="language__item">
            NORSK <img class="language__flag" src="img/Flags/norway.svg" alt="">
        </li>
        <li class="language__item">
            Deutsch <img class="language__flag" src="img/Flags/germany.svg" alt="">
        </li>
        <li class="language__item">
            español <img class="language__flag" src="img/Flags/spain.svg" alt="">
        </li>
        <li class="language__item">
            普通话 <img class="language__flag" src="img/Flags/china.svg" alt="">
        </li>
        <li class="language__item">
            日本語 <img class="language__flag" src="img/Flags/japan.svg" alt="">
        </li>
        <li class="language__item">
            русский <img class="language__flag" src="img/Flags/russia.svg" alt="">
        </li>
        <li class="language__item">
            français <img class="language__flag" src="img/Flags/france.svg" alt="">
        </li>
        <li class="language__item">
            português <img class="language__flag" src="img/Flags/portugal.svg" alt="">
        </li>
        <li class="language__item">
            polski <img class="language__flag" src="img/Flags/poland.svg" alt="">
        </li>
        <li class="language__item">
            italiano <img class="language__flag" src="img/Flags/italy.svg" alt="">
        </li>
    </ul>
</div>