<% var data = {
  title: "THE VIKING AGE",
  h1: "THE VIKING AGE",
  header_img: "",
};%>

<%= _.template(require('./../includes/head.html'))(data) %>
<%= _.template(require('./../includes/header.html'))(data) %>



<%= _.template(require('./../components/scroll-to-read.html'))({id: '#viking-age'}) %>


<%= _.template(require('./../sections/viking-age.html'))(data) %>
<%= _.template(require('./../components/language.html'))(data) %>






<%= _.template(require('./../includes/footer.html'))(data) %>