$font-stack: 'Akzidenz Grotesk Pro', "Open Sans", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

@import "~normalize.css/normalize.css";

@import "basic/fonts";
@import "basic/variables";
@import "basic/mixins";
@import "basic/grid";

h1, h2, h3, h4, p {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $brand-blue;
  outline: none;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.375;
  font-family: $font-stack;
  font-weight: 400;
  color: $white-default;
  background-color: $black-default;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.main-title {
  font-family: $font-stack;
  margin-bottom: 25px;
  line-height: 1.2;
  font-size: 21px;
  font-weight: 400;
  text-transform: uppercase;
  &--light{
    color: $white-default;
  }
  &--nofull{
    max-width: 630px;
  }
}

.second-title {
  font-size: 18px;
  font-weight: 500;
  font-family: $font-stack;
  text-align: center;
  text-transform: uppercase;
  line-height: 25px;
  &--big {
    font-size: 21px;
    font-weight: 400;
  }
  &--left{
    text-align: left;
  }
  &--light{
    color: $white-default;
  }
  &--blue {
    color: $brand-blue;
  }
  span {
    color: $brand-blue;
  }
}

.main-text{
  color: $white-default;
  font-family: $font-stack;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.18px;
  line-height: 28px;
  &--left{
    text-align: left;
  }
  &--nofull{
    max-width: 630px;
  }
}


.default-input{
  margin-bottom: 19px;
  &__label{
    display: block;
    color: $grey-dark;
    position: relative;
    line-height: 1;
    margin-bottom: 9px;
    padding-left: 12px;
    &--required{
      &:after{
        content: '*';
        position: absolute;
        font-size: 16px;
        color: $brand-red;
        margin-left: 3px;
      }
    }
  }
  &__input{
    border: 1px solid $grey-border;
    border-radius: 21px;
    height: 42px;
    max-width: 100%;
    width: 370px;
    outline: none;
    padding: 0 12px;
    background: $white-default;
  }
  &__textarea{
    display: block;
    resize: none;
    outline: none;
    padding: 12px;
    width: 470px;
    max-width: 100%;
    height: 212px;
    border: 1px solid $grey-border;
    border-radius: 21px;
    background: $white-default;
  }
}

@import "sections/header";
@import "components/main-item";
@import "components/language";
@import "components/scroll-btn";

